#header-art {
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(4px, 0.6vw, 6px);
  font-weight: bold; // Make font bold
  text-align: center;
  color: var(--accent-color, #61dafb);
  word-wrap: break-word;
  user-select: none;
  -webkit-user-select: none;
  width: 88%;
  letter-spacing: -0.08em;
  line-height: 1;
}
